<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANwB28i7_vzE1Q6UIe74A9R582UK1dY1I</string>
	<key>GCM_SENDER_ID</key>
	<string>22947427370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piix.app</string>
	<key>PROJECT_ID</key>
	<string>piix-prod-env-02282024prd</string>
	<key>STORAGE_BUCKET</key>
	<string>piix-prod-env-02282024prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22947427370:ios:286a6a36fbfa9d4c637f53</string>
</dict>
</plist>